<% provide(:title, "Sign in") %>
<h1>Sign in</h1>
<div class="row">
<div class="span6 offset3">
<%= form_for(:session, url: sessions_path) do |f| %>    
<%= f.label :email %>
<%= f.text_field :email %>
<!-- # here should I always use :session or can i use :sessions .#.or does it not matter ...since whatever i use there , i can again use in params[] ...because the only #difference is seen in form input fields name...as sessio['email']..like that ...try it and test it out -->
<%= f.label :password %>
<%= f.password_field :password %>
<%= f.submit "Sign in", class: "btn btn-large btn-primary" %>
      <p><%= link_to "forgotten password?", new_password_reset_path %></p>

<% end %>
<p>New user? <%= link_to "Sign up now!", signup_path %></p>
</div>
</div>